# Исключить папку с установленными библиотеками
node_modules/

# Исключить папку с отчётами Playwright
playwright-report/

# Исключить кэш и артефакты Playwright
test-results/

# ОС и редактор
.DS_Store
*.log
*.tsbuildinfo
.idea/
.vscode/
